:root {
    --primary:  #5E3BEE;
    --secondary: #0F1221;
    --tertiary: #f5fcff;

}
.button-purple {
    color: var(--primary);
    border: 1px solid var(--primary);
}

.links {
    color: var(--secondary);
}
.head-purple {
    color: var(--primary);
}
.text-purple {
    color: var(--primary);
}
.text-blue {
    color: var(--secondary);
}
.bg-color {
    background-color:  #F5FCFF;
}
.head-blue {
    color: var(--secondary) !important;
}
.background {
    background-color: #FFFFFF;
    width: 4vw;
    height: 8vh;
    text-align: center;
}
.button {
    background-color: var(--primary);
}
.about-blue {
    color: var(--secondary);
}
.width {
    /* border: 1px solid red; */
    width: 500%;
    padding: 15px;
}
.text-blue {
    color: var(--primary);
}
.text-color {
    color: var(--secondary);
}
.icon {
border: 1px solid red;
margin-left: 1000px;
}
.btn-color {
    background-color: var(--primary);
}
.color {
    color:  #006B6A;
}
.border {
    border: 2px solid #045a59;
}
.width {
    width: 23%;
}
.height {
    height: 50vh;
}
.widh {
    width: 30%;
}
.center {
    width: 30%;
}
.img-width {
    border: 1px solid red;
    width: 100%;
}

.line {
    color: var(--primary);
    width: 50%;
    border: 1px solid var(--primary);
}
.border-circle {
    /* border-radius: 50%; */
}
.border {
    color: var(--primary);
}
.light-blue {
    background-color: var(--tertiary);
}
.btn-color {
    background-color: var(--primary);
}
.blue {
    color: var(--primary);
}
.navy-blue {
    color: var(--secondary);
}
.border-color {
    border: 1px solid var(--primary);
}
.margin {
    margin-left: 60px;
}
.form-control.new:focus,
.form-select.new:focus,
textarea.form-control.new:focus{
    background-color: transparent;
    border: 1px solid var(--primary);
    outline: 0;
    box-shadow: 1px 1px 10px var(--primary);
}
.border-color {
    border: 1px solid #006B6A;
}